<body onload="javascript:userPosts('{{{id}}}');">
	<button type="button" class="btn btn-primary" onclick="location.href='homepage'">Home</button>
	<button type="button" class="btn btn-danger" onclick="location.href='logout'">Log Out</button>
	<div id="profile">
		<img class="dp" src="/images/{{{dp}}}" alt="Your Image">
		<span>{{{username}}}</span>
	</div>
	<div id="userPosts"</div>
</body>