<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src='../javascript/authentication_ajax.js'></script>
    <script src='../javascript/home_actions_ajax.js'></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class='text-center'>
	{{{ body }}}
	
	
</body>
</html>