<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" type='application/javascript'></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
  	<link rel="stylesheet" href="/css/style.css"/>
  	<!-- <link rel="stylesheet" href="/css/botstrap.css"/> -->
  	<script src='../javascript/home_actions.js' type='application/javascript'></script>
</head>
<body>
	{{{ body }}}
</body>
<!-- <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->
</html>