<!DOCTYPE html>
<body onload="javascript:startfetch()">
	<p id='greetings'></p>
	{{{msg}}}
	<div id="profilepic">
		<img class="dp" src="/images/{{{dp}}}" alt="Your Image">
	</div>
	<button type="button" class="btn btn-danger" onclick="location.href='logout'">Log out</button>
	<div id='findfriends'>
		<div id='searchpeople'>
			<input type='text' id='searchpeopleinput' class='search' placeholder='Search for people here'/>
			<button type="button" class="btn btn-success" onclick="javascript:searchPeople();">Go</button>	
		</div>
		<div id='searchresult' onblur="javascript:hideElement('searchresult')">
		</div>
	</div><br><br>
	<button type="button" id="profileButton" class="btn btn-primary" onclick="location.href='myprofile'"> {{{username}}} </button>	
	<div id='friendrequests'>
		<button type="button" class="btn btn-primary" onclick="javascript:showRequests();">Show Requests</button>
		<div id='newrequests'>
		</div>
	</div>
	<div id='myfriends'>
	<button type="button" class="btn btn-primary" onclick="javascript:showFriends();">My Friends</button>
	</div>
	<div id='friendlist'>
	</div><br>
	<section id='postbox' class="col-75">
			<form id = "addPhoto" style="margin:auto" method="POST" action="/users/postphoto" enctype="multipart/form-data">
				<textarea  id="postText" name="postText" class="posttext" placeholder="Write something..."  required></textarea><br>
				<input type="file" id='postImage' name="postImage" accept="image/*" >
				<button type="submit" class="btn btn-success">Add Photo</button>
			</form>
	</section>
	<br><br>
	<section id='postnow'></section>
</body>

	