<h2>Welcome to LetsConnect!</h2>
<p>New to this website?</p>
<button class="btn btn-lg " type="button" onclick="location.href='/users/signup'">Register</button>
<p>Already a user?</p>
<button class="btn btn-lg " type="button" onclick="location.href='/users/login'">Log In</button>