<body onload="javascript:userPosts('{{{id}}}');">
	<div id="profile">
		<img class="dp" src="/images/{{{dp}}}" alt="Your Image">
		<span>{{{username}}}</span>
	</div>
	<div id="userPosts"</div>
</body>